<!--<div class="product-column">
  <img src="{{product.imageUrl}}" alt="movie poster">
  <h2>{{product.name}}</h2>
  <a class="btn" [routerLink]="['/details', product.id]" routerLinkActive="active">Details</a>
</div>-->

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{product.imageUrl}}" alt="movie poster">
  <div class="card-body">
    <h3 class="card-title">{{product.name}}</h3>
      <a class="btn" [routerLink]="['/details', product.id]" routerLinkActive="active">Details</a>
  </div>
</div>
