.fixed-bg {
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url('../../../assets/images/red-neon.jpg');
}

.products-wrapper {
    background: rgba(0, 0, 0, 0.7);
    margin: 1em 0;
    padding: 1em;
}

.carousel, .carousel-inner {
    height: 50vh;
    width: 100%;
}

.carousel-inner img {
    max-height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}