.fixed-bg {
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url('../../../assets/images/red-neon.jpg');
}

.products-wrapper {
    background: rgba(0, 0, 0, 0.7);
    margin: 1em 0;
    padding: 1em;
}