<div class="row">
  <div class="col-12 col-md-6 card" *ngFor="let item of collectedProducts; let i = index">
    
    <div class="row">
      <div class="col-10 col-md-4">
        <img src="{{item.imageUrl}}" alt="movie poster">
      </div>

      <div class="col-10 col-md-8">
        <p>{{item.name}}</p>
        <p>{{collectedCartItems[i].quantity}}</p>
        <p>{{item.price}} SEK</p>
        <p>{{collectedCartItems[i].totalPrice}}</p>
       <!--<input type="number" #quantity (onclick)="getInputQuantity(quantity.value, item)">-->
        <button (click)="onRemoveItem(item)">Delete</button>
      </div>
    </div>
    
  </div>
  <a routerLinkActive="active" routerLink="/orderform" routerLinkActive="active">go to checkout</a>
  <router-outlet></router-outlet>
</div>
