<div class="row">
  <div class="col-12 col-md-6 card" *ngFor="let product of collectedCartItems">
    
    <div class="row">
      <div class="col-10 col-md-4">
        <img src="{{product.product.imageUrl}}" alt="movie poster">
      </div>

      <div class="col-10 col-md-8">
        <p>{{product.product.name}}</p>
        <p>{{product.product.price}} SEK</p>
        <p>{{product.totalPrice}}</p>

        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <button class="btn btn-secondary" type="button" (click)="addQuantity(quantity.value, product)">+</button>
          </div>
            <input type="number" min="1" max="100" value="{{product.quantity}}" #quantity (keyup.enter)="updateQuantity(quantity.value, product)">
          <div class="input-group-append">
            <button class="btn btn-secondary" type="button" (click)="removeQuantity(quantity.value, product)">-</button>
          </div>
        </div>

        <button class="btn btn-secondary" (click)="onRemoveItem(product)">Delete</button>

      </div>
    </div>
    
  </div>
  <a routerLinkActive="active" routerLink="/orderform" routerLinkActive="active">go to checkout</a>
  <router-outlet></router-outlet>
</div>
