<header class="row">
  <nav class="col-12 navbar navbar-expand-lg navbar-dark">
    <h1>MoviePoster</h1>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav nav-pill">
        <li routerLinkActive="active"><a routerLink="home" routerLinkActive="active">Home</a></li>
        <li routerLinkActive="active"><a routerLink="/shoppingcart" routerLinkActive="active">Shoppingcart</a>({{currentCartCounter}})</li>
      </ul>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>

<footer class="row"></footer>

