<header class="row">
  <a class="cart-icon-link" routerLink="home">
    <h1>MoviePoster</h1>
  </a>
  
  <a class="cart-icon-link" routerLink="/shoppingcart" routerLinkActive="active">
    <img src="../assets/images/shopping-cart.png" alt="cart" />
  </a>
  
  <nav class="col-12 navbar navbar-expand-lg navbar-dark">
      <ul class="nav nav-pill text-center">
        <li routerLinkActive="active"><a routerLink="home" routerLinkActive="active">Posters</a></li>
        <li><a href="#">My orders</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Q&A</a></li>
      </ul>
  </nav>

</header>

<router-outlet></router-outlet>

<footer class="row"></footer>

