<header class="row">
  <nav class="col-12 navbar navbar-expand-lg navbar-dark">
    <h1>MoviePoster</h1>

    <a routerLink="/shoppingcart" routerLinkActive="active"><img src="./images/shopping-cart-solid.svg" style="height: 2em; width: 2em; color: white;" alt="cart" /></a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-lg-flex justify-content-lg-end" id="navbarNav">
      <ul class="nav nav-pill">
        <li routerLinkActive="active"><a routerLink="home" routerLinkActive="active">Posters</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Q&A</a></li>
        <li><a href="#">My orders</a></li>
      </ul>
    </div>

  </nav>
</header>

<router-outlet></router-outlet>

<footer class="row"></footer>

