
<div class="row justify-content-center">
  <div class="col-12 col-md-6">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Movie</th>
          <th scope="col">Price</th>
          <th scope="col">Amount</th>
          <th scope="col">Total price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of collectedCartItems">
          <th scope="row">{{product.product.name}}</th>
          <td>{{product.product.price}}</td>
          <td>{{product.quantity}}</td>
          <td>{{product.totalPrice}}</td>
        </tr>
        <tr>
          <th>Total Price</th>
          <td></td>
          <td></td>
          <td>{{sum}}</td>
        </tr>
      </tbody>
   </table>
  </div>

  
  
	

<form [formGroup]="orderGroup" (ngSubmit)="createOrder()">
<input type="text" formControlName="name">
<br />

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01">Payment method</label>
    </div>
    <select class="custom-select" id="inputGroupSelect01">
      <option [ngValue]="null" disabled selected>Choose method</option>
      <option value="Paypal">Paypal</option>
      <option value="Bitcoin">Bitcoin</option>
      <option value="Gold">Gold</option>
    </select>
    <br />
    
    <button type="submit" [disabled]="!group.valid">Save</button>
  </div>
</form>
