
<div class="wrapper" *ngFor="let product of productsToShow">
  <h2>{{product.name}}</h2>
  <div class="row justify-content-center">
    <div class="col-10 col-md-7">
      <img src="{{product.imageUrl}}" alt="movie poster">
    </div>
    
    <div class="col-10 col-md-5">
      <p>{{product.description}}</p>
      <h5><b>Release year: {{product.year}}</b></h5>
      <h6><b>{{product.price}} SEK</b></h6>
      <div class="input-group mb-4">
        <input type="number" #quantity (keyup.enter)="onAddToCart(quantity.value, product)" placeholder="0">
        <div class="input-group-append">
          <button class="btn btn-secondary" type="button" id="addToCartBtn" (click)="onAddToCart(quantity.value, product)" data-toggle="modal" data-target="#exampleModalCenter">Buy poster</button>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">This product was added to your cart</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body row">
              <div class="col-6">
                <img src="{{product.imageUrl}}" alt="movie poster">
              </div>
              <div class="col-6">
                <p>{{product.name}}</p>
                <p>{{product.price}}</p>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Keep shopping</button>
              <a routerLink="/shoppingcart">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Go to checkout</button>
              </a>
            </div>
          </div>
        </div>
      </div>

      <router-outlet></router-outlet>

      <!--
      <div class="alert alert-hide" role="alert" id="alert-success">
        {{alertMsg}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>-->
    </div>
  </div>
  
</div>
